@import url('http://fonts.cdnfonts.com/css/molengo');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Molengo', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
